.c-link {
    color: $primary;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }

    &__form {
        color: rgb(238, 208, 73);
        font-weight: 700;
    }
}

