.c-login {
    display: block;
    max-width: 420px;
    margin: 0 auto;
    padding:  40px 30px;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
    background: rgba(20, 40, 40, 0.8);
    border-radius: 20px;
}