.c-morosos {
    background-color: #D6D6D6;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    @media (max-width: 768px) {
        padding: 1;
    }
    &--evenly {
        justify-content: space-evenly;
    }
    &__item {
        color: #272727;
        font-weight: bold;
        font-size: 1.6rem;
        font-family: $montserrat;
        width: 100%;
        text-align: center;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}