__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
.git/
.gitignore
.idea/
.vscode/
venv/
env/
instance/
migrations/
app/node_modules/
app/src/
app/package-lock.json
app/package.json
app/webpack.config.js
database.db
*.sql
