# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
app/node_modules/
app/static/images/

# Local development environment
prestamos/
.env
venv
env

# Flask instance folder
instance/

# SQLAlchemy migrations folder
migrations/

# SQLite database file
database.db
database.sql
rutzchile.sql

# Editor and IDE files
.idea/
.vscode/

# System and temporary files
.DS_Store
Thumbs.db

app/config.py
