.c-text {
    font-family: $openSans;
    font-weight: 400;
    &__p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    &__small {
        font-size: 0.95rem;
        line-height: 1.25rem;
    }
    &__bold {
        font-weight: 600;
    }
    &__primary {
        color: $primary;
    }
}