<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Aplicación</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-xVv4zblwp6jNtjGqS50NBrCnF30HbYYwFVbUycL1zFvPKcKrwhJUoGMoPfSgtbEaMYhGdMYB1pyXkMMpqFb5lQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" integrity="sha512-Me6KtczXBB8YzBz7h5ldT5KJmuBvwMKzgQa9TZjr0pRpCOyZmwpkk5e8AeNr9mBnTbb4CrM7Blj5oMgmJYiUxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
    <style>
        /* Agrega aquí tus estilos personalizados si es necesario */
    </style>
</head>
<body>
    {% block content %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha512-BwNDpP5NcBnGnOxKXeXb4sAtTuaXm5KtJ8yyR4Tg0kPh9uGMohF1Dcd5A1OaZDfuXpJvEQHTtSTWyB7z82Y5mg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        // Agrega aquí tus scripts personalizados si es necesario
    </script>
</body>
</html>
