{% extends "base.html" %}

{% block content %}
<div class="c-form">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_manager') }}">Menu</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.logout') }}">Salir</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="c-users">
                    <p class="c-users__title">Listado de Solicitudes</p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <ul class="request-list">
                    {% for detalle_transaccion in detalles_transacciones %}
                    <li class="request-item mb-4" style="border: 1px solid white; padding: 1.5rem; border-radius: 10px;">
                        <p>Solicitado por: <span>{{ detalle_transaccion['tipo'] }}</span></p>
                        <p>Tipo de Gasto: <span>{{ detalle_transaccion['concepto'] }}</span></p>
                        <p>Descripción: <span>{{ detalle_transaccion['descripcion'] }}</span></p>
                        <p>Valor: <span>${{ detalle_transaccion['monto'] }}</span></p>
                        <p>Aprobar/Denegar:</p>
                        <select class="request-dropdown mt-3 mb-3" name="approval_status">
                            <option value="approve">Aprobar</option>
                            <option value="deny">Denegar</option>
                        </select><br>
                        <a class="btn btn-primary" href="">Procesar Solicitud</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
