{% extends "base.html" %} {% block content %}
<div class="c-form">
  <div class="container pt-5">
    <div class="row">
      {% if user_role == 'COORDINADOR' %}
          <div class="col">
              <a class="c-btn c-btn-primary c-btn-block mb-3" href="./menu-manager">Menu</a>
          </div>
      {% elif user_role == 'VENDEDOR' %}
          <div class="col">
              <a class="c-btn c-btn-primary c-btn-block mb-3" href="./menu-salesman">Menu</a>
          </div>
      {% endif %}
      <div class="col">
          <a class="c-btn c-btn-primary c-btn-block mb-3" href="./logout">Salir</a>
      </div>
    </div>
    <h2 class="c-headings c-headings__h3 mb-4 mt-4">
      Detalle Caja: {{ salesman.employee.user.first_name
      }} {{ salesman.employee.user.last_name }}
    </h2>
    <table class="c-table">
      <thead>
        <tr>
          <th class="c-table__box">Cliente</th>
          <th class="c-table__box">Valor</th>
          <th class="c-table__box">Cuotas</th>
          <th class="c-table__box">Interés</th>
        </tr>
      </thead>
      <tbody>
        {% for loan_detail in loans_details %}
        <tr>
          <td class="c-table__box">{{ loan_detail.client_name }}</td>
          <td class="c-table__box">$-{{ '{:,.0f}'.format(loan_detail.loan_amount) }}</td>
          <td class="c-table__box">{{ '{:,.0f}'.format(loan_detail.loan_dues) }}</td>
          <td class="c-table__box">{{ '{:,.0f}'.format(loan_detail.loan_interest) }}%</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- Tabla para los retiros -->
    <h2 class="c-headings c-headings__h3 mb-4 mt-4">Retiros</h2>
    <table class="c-table">
      <thead>
        <tr>
          <th class="c-table__box">Descripción</th>
          <th class="c-table__box">Valor</th>
          <!-- <th class="c-table__box">Estado</th> -->
          <th class="c-table__box">Adjunto</th>
        </tr>
      </thead>
      <tbody>
        {% for withdrawal_detail in withdrawal_details %}
        <tr>
          <td class="c-table__box">{{ withdrawal_detail.description }}</td>
          <td class="c-table__box">${{ '{:,.0f}'.format(withdrawal_detail.amount) }}</td>
          <!-- <td class="c-table__box">
            {% if withdrawal_detail.approval_status == 'PENDIENTE' %}
            <span class="badge text-bg-warning"
              >{{ withdrawal_detail.approval_status }}</span
            >
            {% elif withdrawal_detail.approval_status == 'APROBADA' %}
            <span class="badge text-bg-success"
              >{{ withdrawal_detail.approval_status }}</span
            >
            {% elif withdrawal_detail.approval_status == 'RECHAZADA' %}
            <span class="badge text-bg-danger"
              >{{ withdrawal_detail.approval_status }}</span
            >
            {% endif %}
          </td>
          Estado del retiro -->
          <td class="c-table__box">
            <!-- Enlace para ver el adjunto si existe -->
            {% if withdrawal_detail.attachment %}
            <button class="c-btn c-btn-primary" data-target="modal{{ loop.index }}">Ver adjunto</button>
            <div class="c-modal" id="modal{{ loop.index }}">
              <img class="img-attachment" src="{{ url_for('static', filename='images/' +  withdrawal_detail.attachment ) }}" alt="Imagen de la transacción">
            </div>
            {% else %} N/A {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Tabla para los ingresos -->
    <h2 class="c-headings c-headings__h3 mb-4 mt-4">Ingresos</h2>
    <table class="c-table">
      <thead>
        <tr>
          <th class="c-table__box">Descripción</th>
          <th class="c-table__box">Valor</th>
          <!-- <th class="c-table__box">Estado</th>
          <th class="c-table__box">Fecha</th> -->
          <th class="c-table__box">Adjunto</th>
        </tr>
      </thead>
      <tbody>
        {% for income_detail in income_details %}
        <tr>
          <td class="c-table__box">{{ income_detail.description }}</td>
          <td class="c-table__box">${{ '{:,.0f}'.format(income_detail.amount) }}</td>
          <!-- <td class="c-table__box">
            {% if income_detail.approval_status == 'PENDIENTE' %}
            <span class="badge text-bg-warning"
              >{{ income_detail.approval_status }}</span
            >
            {% elif income_detail.approval_status == 'APROBADA' %}
            <span class="badge text-bg-success"
              >{{ income_detail.approval_status }}</span
            >
            {% elif income_detail.approval_status == 'RECHAZADA' %}
            <span class="badge text-bg-danger"
              >{{ income_detail.approval_status }}</span
            >
            {% endif %}
          </td>
          <td class="c-table__box">{{ income_detail.date }}</td> -->
          <!-- Estado del ingreso -->
          <td class="c-table__box">
            <!-- Enlace para ver el adjunto si existe -->
            {% if income_detail.attachment %}
            <button class="c-btn c-btn-primary" data-target="modal{{ loop.index }}">Ver adjunto</button>
            <div class="c-modal" id="modal{{ loop.index }}">
              <img class="img-attachment" src="{{ url_for('static', filename='images/' +  income_detail.attachment ) }}" alt="Imagen de la transacción">
            </div>
            {% else %} N/A {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Tabla para los gastos -->
    <h2 class="c-headings c-headings__h3 mb-4 mt-4">Gastos</h2>
    <table class="c-table">
      <thead>
        <tr>
          <th class="c-table__box">Descripción</th>
          <th class="c-table__box">Valor</th>
          <!-- <th class="c-table__box">Estado</th> -->
          <th class="c-table__box">Adjunto</th>
        </tr>
      </thead>
      <tbody>
        {% for expense_detail in expense_details %}
        <tr>
          <td class="c-table__box">{{ expense_detail.description }}</td>
          <td class="c-table__box">${{ '{:,.0f}'.format(expense_detail.amount) }}</td>
          <!-- <td class="c-table__box">
            {% if expense_detail.approval_status == 'PENDIENTE' %}
            <span class="badge text-bg-warning"
              >{{ expense_detail.approval_status }}</span
            >
            {% elif expense_detail.approval_status == 'APROBADA' %}
            <span class="badge text-bg-success"
              >{{ expense_detail.approval_status }}</span
            >
            {% elif expense_detail.approval_status == 'RECHAZADA' %}
            <span class="badge text-bg-danger"
              >{{ expense_detail.approval_status }}</span
            >
            {% endif %}
          </td>  -->
          <td class="c-table__box">
            <!-- Enlace para ver el adjunto si existe -->
            {% if expense_detail.attachment %}
            <button class="c-btn c-btn-primary" data-target="modal{{ loop.index }}">Ver adjunto</button>
            <div class="c-modal" id="modal{{ loop.index }}">
              <img class="img-attachment" src="{{ url_for('static', filename='images/' +  expense_detail.attachment ) }}" alt="Imagen de la transacción">
            </div>
            {% else %} N/A {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Tabla para los préstamos de renovación activos -->
    <h2 class="c-headings c-headings__h3 mb-4 mt-4">Renovaciones Activas</h2>
    <table class="c-table">
      <thead>
        <tr>
          <th class="c-table__box">Cliente</th>
          <th class="c-table__box">Valor</th>
          <th class="c-table__box">Cuotas</th>
          <th class="c-table__box">Interés</th>
        </tr>
      </thead>
      <tbody>
        {% for renewal_detail in renewal_loan_details %}
        <tr>
          <td class="c-table__box">{{ renewal_detail.client_name }}</td>
          <td class="c-table__box">$-{{ '{:,.0f}'.format(renewal_detail.loan_amount) }}</td>
          <td class="c-table__box">{{ '{:,.0f}'.format(renewal_detail.loan_dues) }}</td>
          <td class="c-table__box">{{ '{:,.0f}'.format(renewal_detail.loan_interest) }}%</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <!-- Agregar esta tabla para los clientes con cuotas en mora -->
    <h2 class="c-headings c-headings__h3 mb-4 mt-4">No Pago</h2>
    <table class="c-table">
      <thead>
        <tr>
          <th class="c-table__box">Cliente</th>
          <th class="c-table__box">C. MORA</th>
          <th class="c-table__box">Saldo</th>
          <th class="c-table__box">Valor Total</th>
        </tr>
      </thead>
      <tbody>
        {% for client_in_arrears in clients_in_arrears %}
        <tr>
          <td class="c-table__box">{{ client_in_arrears.client_name }}</td>
          <td class="c-table__box">{{ client_in_arrears.arrears_count }}</td>
          <td class="c-table__box">${{ '{:,.0f}'.format(client_in_arrears.overdue_balance) }}</td>
          <td class="c-table__box">${{ '{:,.0f}'.format(client_in_arrears.total_loan_amount) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2 class="c-headings c-headings__h3 mb-4 mt-4">Pago</h2>
    <table class="c-table">
      <thead>
        <tr>
          <th class="c-table__box">Cliente</th>
          <th class="c-table__box">Vr. Pago</th>
          <th class="c-table__box">Vr. Prestamo</th>
          <th class="c-table__box">Fecha de Pago</th>
          <th class="c-table__box">Saldo</th>
        </tr>
      </thead>
      <tbody>
        {% for payment_detail in payment_details %}
        <tr>
          <td class="c-table__box">{{ payment_detail.client_name }}</td>
          <td class="c-table__box">${{ '{:,.0f}'.format(payment_detail.payment_amount) }}</td>
          <td class="c-table__box">${{ '{:,.0f}'.format(payment_detail.total_credit) }}</td>
          <td class="c-table__box"> {{ payment_detail.payment_date }}</td>
          <td class="c-table__box">${{ '{:,.0f}'.format(payment_detail.remaining_balance) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    




  </div>
</div>
{% endblock %}
