{% extends "base.html" %}

{% block content %}
<div class="c-form">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="./menu-manager">Menu</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="/">Salir</a>
            </div>
        </div>
        <h2 class="c-headings c-headings__h2 mb-4 mt-4">Caja de {{ information.salesman_name }}</h2>
        <ul class="list-group mb-5">
            <li class="list-group-item">Gastos: $ {{ '{:,.0f}'.format(information.expenses) }} </li>
            <li class="list-group-item">Ingresos: $ {{ '{:,.0f}'.format(information.incomes) }}</li>
            <li class="list-group-item">Retiros: $ {{ '{:,.0f}'.format(information.withdrawals) }} </li>
            <li class="list-group-item">Ventas: $ {{ '{:,.0f}'.format(information.sales) }}</li>
            <li class="list-group-item">Renovaciones: $ {{ '{:,.0f}'.format(information.renewals) }}</li>
            <li class="list-group-item">Pagos: $ {{ '{:,.0f}'.format(information.loan_payments) }}</li>
            <li class="list-group-item">No Pago: $ {{ '{:,.0f}'.format(information.unpaid) }}</li>
            <li class="list-group-item">Clientes: {{ information.num_clients }}</li>
        </ul>
        
        <!-- Puedes agregar más elementos HTML para mostrar información adicional si lo necesitas -->
        
    </div>
</div>
{% endblock %}
