{% extends "base.html" %}

{% block content %}
<div class="c-narrow">
    <div class="container 0 pt-5">
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="./menu-manager">Volver</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.logout') }}">Salir</a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <form action="{{ url_for('routes.box') }}" method="GET" style="display: flex; flex-direction: column;">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="salesman_name" name="salesman_name" value="{{ search_term }}" placeholder="Buscar un vendedor">
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="c-cajas c-overflow">
                    {% for salesman in salesmen_statistics %}
                    <li class="c-cajas__item">
                        <div class="c-cajas__item__header mb-4">
                            <h3 class="c-cajas__item__title c-headings c-headings__h2">Caja {{ salesman['salesman_name'] }}</h3>
                        </div>
                        <div class="c-cajas__item__body">
                            <a href="./box-detail" class="c-btn c-btn-primary mb-4" type="submit">Ver detalle</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
