{% extends "base.html" %}

{% block content %}
<div class="c-form">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_salesman', user_id=user_id) }}">Menu</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.logout') }}">Salir</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="c-users">
                    <p class="c-users__title">Listado de Clientes</p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <form style="display: flex; flex-direction: column;" method="post" action="{{ url_for('routes.client_list', user_id=user_id) }}">
                    <div class="form-group">
                        <input type="text" name="search" class="form-control" placeholder="Buscar por nombre, documento o alias">
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <ul class="request-list c-overflow">
                    {% for client in client_list %}
                    <li class="request-item">
                        <p>Nombre: <span>{{ client.first_name }} {{ client.last_name }}</span></p>
                        <p>Alias: <span>{{ client.alias }}</span></p>
                        <p>Documento: <span>{{ client.document }}</span></p>
                        <p>Celular: <span>{{ client.cellphone }}</span></p>
                        <p>Dirección: <span>{{ client.address }}</span></p>
                        <p>Barrio: <span>{{ client.neighborhood }}</span></p>
                        <p>Estado: <span>{{ "Activo" if client.status else "Inactivo" }}</span></p>
                        <p>Deudor: <span>{{ "Sí" if client.debtor else "No" }}</span></p>
                        <p>Lista Negra: <span>{{ "Sí" if client.black_list else "No" }}</span></p>
                        <p>Fecha Creación: <span>{{ client.creation_date }}</span></p>
                        <p>Fecha Modificación: <span>{{ client.modification_date }}</span></p>
                        <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-between;">
                            <a style="margin: 1.5rem 0;" class="btn btn-primary" href="{{ url_for('routes.credit_detail', id=client.loans[-1].id) }}">Ver detalle del crédito</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
