{% extends "base.html" %}

{% block content %}
<div class="c-form">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3"
                    href="./menu-manager">Volver al menu</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="/">Salir</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="{{ url_for('routes.create_concept') }}" method="post">
                    <div class="mb-3">
                        <label for="transaction_types">Tipo de transaccion</label>
                        <select class="c-form c-form__input" name="transaction_types" id="transaction_types">
                            <option value="GASTO">Gastos</option>
                            <option value="INGRESO">Ingreso</option>
                            <option value="RETIRO">Retiro</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="concept">concepto</label>
                        <input type="text" name="concept" id="concept">
                        <button type="submit">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
