{% extends "base.html" %}

{% block content %}
<div class="c-form">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_salesman') }}">Menu</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.client_list') }}">Clientes</a>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <h3 class="c-cajas__item__title c-headings c-headings__h4">Información del crédito </h3>
                <h2 class="c-cajas__item__title c-headings c-headings__h3">{{ client.first_name }} {{ client.last_name
                    }}</h2>
                <ul class="c-card__box-mannager">
                    <li class="c-card__internal">
                        <p>Cuotas Totales: <span>{{ loan_detail.cuotas_totales }}</span></p>
                    </li>
                    <li class="c-card__internal">
                        <p>Cuotas Pagadas: <span>{{ loan_detail.cuotas_pagadas }}</span></p>
                    </li>
                    <li class="c-card__internal">
                        <p>Cuotas Abonadas: <span>{{ installments|selectattr('status.value', 'equalto',
                                'ABONADA')|list|length }}</span></p>
                    </li>
                    <li class="c-card__internal">
                        <p>Cuotas en mora: <span>{{ loan_detail.cuotas_vencidas }}</span></p>
                    </li>
                    <li class="c-card__internal">
                        <p>Valor Total: <span>$ {{ '{:,.0f}'.format(loan_detail.valor_total | float | int) }}</span></p>
                    </li>
                    <li class="c-card__internal">
                        <p>Saldo Pendiente: <span>$ {{ '{:,.0f}'.format(loan_detail.saldo_pendiente | float | int)
                                }}</span></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                        <div class="card-header mb-4">
                            <h3 style="text-align: center;">Detalle de Cuotas</h3>
                        </div>

                        <table class="c-table">
                            <thead>
                                <tr>
                                    <th class="c-table__box">N° Cuota</th>
                                    <th class="c-table__box">Estado</th>
                                    <th class="c-table__box">Fecha de Pago</th>
                                    <th class="c-table__box">Valor de Cuota</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for installment in installments %}
                                <tr id="installment_{{ installment.id }}">
                                    <td class="c-table__box">{{ installment.installment_number }}</td>
                                    <td class="c-table__box">{{ installment.status.value }}</td>
                                    <td class="c-table__box">{{ installment.due_date.strftime('%d/%m/%Y') }}</td>
                                    <td class="c-table__box">$ {{ '{:,.0f}'.format(installment.amount | float | int) }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="card-header mb-4 mt-4">
                            <h3 style="text-align: center;">Pagos</h3>
                        </div>
        
                        <table class="c-table">
                            <thead>
                                <tr>
                                    <th class="c-table__box">Fecha de Pago</th>
                                    <th class="c-table__box">Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in payments %}
                                <tr id="payment_{{ payment.id }}">
                                    <td class="c-table__box">{{ payment.payment_date.strftime('%d/%m/%Y') }}</td>
                                    <td class="c-table__box">$ {{ '{:,.0f}'.format(payment.amount | float | int) }}</td> <!-- Ajustar el formato del monto -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}