{% extends "base.html" %}

{% block content %}
<div class="c-form">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_salesman') }}">Volver al menú</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.client_list') }}">Lista de Clientes</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="c-users">
                    <p class="c-users__title">Detalles del Crédito</p>
                </div>
            </div>
          <!--   <div class="col">
                <div class="float-right">
                    <h5 class="mr-3">Nombre del Cliente: {{ client.first_name }} {{ client.last_name }}</h5>
                    <a href="#" class="btn btn-primary mr-3">Editar Datos Cliente</a>
                    <a href="#" class="btn btn-primary">Estado de la cartera: Activa</a>
                </div>
            </div> -->
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Información del Crédito
                    </div>
                    <div class="card-body">
                        <ul class="request-list">
                            <li class="request-item">
                                <p>Cuotas Totales: <span>{{ loan_detail.cuotas_totales }}</span></p>
                            </li>
                            <li class="request-item">
                                <p>Cuotas Pagadas: <span>{{ loan_detail.cuotas_pagadas }}</span></p>
                            </li>
                            <li class="request-item">
                                <p>Cuotas Abonadas: <span>Pendiente</span></p>
                            </li>
                            <li class="request-item">
                                <p>Cuotas en mora: <span>{{ loan_detail.cuotas_vencidas }}</span></p>
                            </li>
                            <li class="request-item">
                                <p>Valor Total: <span>${{ loan_detail.valor_total }}</span></p>
                            </li>
                            <li class="request-item">
                                <p>Saldo Pendiente: <span>${{ loan_detail.saldo_pendiente }}</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Detalle de Cuotas
                    </div>
                    <div class="card-body">
                        <form method="post" action="{{ url_for('routes.modify_installments', loan_id=loan.id) }}">
                            <div class="c-overflow">
                                <ul class="request-list">
                                    {% for installment in installments %}
                                    <li class="request-item request-item--column">
                                        <p>N° Cuota: <span>{{ installment.installment_number }}</span></p>
                                        <p>Estado: <span>{{ installment.status.value }}</span></p>
                                        <p>Fecha de Pago: <span>{{ installment.due_date.strftime('%d/%m/%Y') }}</span></p>
                                        <p>Valor de Cuota: <span>${{ installment.amount }}</span></p>
                                        <p>
                                            {% if installment.status.value == 'PENDIENTE' or installment.status.value == 'MORA' %}
                                                <label for="estado_cuota_{{ installment.id }}">Modificar Estado:</label>
                                                <select class="request-dropdown mt-3 mb-3" name="estado_cuota_{{ installment.id }}">
                                                    <option value="PAGADA">PAGADA</option>
                                                    <option value="PENDIENTE" selected>PENDIENTE</option>
                                                    <option value="MORA">MORA</option>
                                                </select>
                                            {% else %}
                                                <span>Modificar Estado: {{ installment.status.value }}</span>
                                            {% endif %}
                                        </p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
