{% extends "base.html" %}

{% block content %}
<div class="container c-bg c-bg__gray-400 pt-5">
    <div class="row">
        <div class="col">
            <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_salesman') }}">Volver al menú</a>
        </div>
        <div class="col">
            <a class="c-btn c-btn-primary c-btn-block mb-3" href="/">Salir</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <h2>Detalles del Crédito</h2>
        </div>
        <div class="col">
            <div class="float-right">
                <h5 class="mr-3">Nombre del Cliente: {{ client.first_name }} {{ client.last_name }} </h5>
                <a href="#" class="btn btn-primary mr-3">Editar Datos Cliente</a>
                <a href="#" class="btn btn-primary">Estado de la cartera: Activa</a>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Información del Crédito
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5>Cuotas Totales:</h5>
                            <p>{{ loan.dues }}</p>
                        </div>
                        <div class="col">
                            <h5>Cuotas Pagadas:</h5>
                            {% set total_cuotas_pagadas = 0 %}
                            {% for installment in installments %}
                                {% if installment.status.value == 'PAGADA' %}
                                    {% set total_cuotas_pagadas = total_cuotas_pagadas + 1 %}
                                {% endif %}
                            {% endfor %}
                            <p>{{ total_cuotas_pagadas }}</p>
                        </div>
                        <div class="col">
                            <h5>Cuotas Abonadas:</h5>
                            {% set total_cuotas_abonadas = 0 %}
                            {% for installment in installments %}
                                {% if installment.status == 'ABONADA' %}
                                    {% set total_cuotas_abonadas = total_cuotas_abonadas + 1 %}
                                {% endif %}
                            {% endfor %}
                            <p>{{ total_cuotas_abonadas }}</p>
                        </div>
                        <div class="col">
                            <h5>Cuotas Vencidas:</h5>
                            {% set total_cuotas_vencidas = 0 %}
                            {% for installment in installments %}
                                {% if installment.status == 'MORA' %}
                                    {% set total_cuotas_vencidas = total_cuotas_vencidas + 1 %}
                                {% endif %}
                            {% endfor %}
                            <p>{{ total_cuotas_vencidas }}</p>
                        </div>
                        <div class="col">
                            <h5>Valor Total:</h5>
                            {% set total_prestamo = (loan.amount + (loan.amount * (loan.interest / 100)))  %}
                            <p>${{ '{:.0f}'.format(total_prestamo) }}</p>
                        </div>
                        <div class="col">
                            <h5>Saldo Pendiente:</h5>
                            <p>${{ loan.remaining_balance }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Detalle de Cuotas
                </div>
                <div class="card-body">
                    <form method="post" action="{{ url_for('routes.modify_installments', loan_id=loan.id) }}">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">N° Cuota</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Fecha de Pago</th>
                                    <th scope="col">Valor de Cuota</th>
                                    <th scope="col">Saldo</th>
                                    <th scope="col">Modificar Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set counter = 0 %}
                                {% set break = false %}
                                {% set enable_next = false %}
                                {% for installment in installments %}
                                    <tr>
                                        <th scope="row">{{ installment.installment_number }}</th>
                                        <td>{{ installment.status.value }}</td>
                                        <td>{{ installment.due_date.strftime('%d/%m/%Y') }}</td>
                                        <td>${{ installment.amount }}</td>
                                        <td>${{ installment.balance }}</td>
                                        <td>
                                            {% set counter = counter + 1 %}
                                            {% if installment.status.value == 'PENDIENTE' or installment.status.value == 'MORA' and break == false %}
                                                {% if not enable_next %}
                                                    {% set enable_next = true %}
                                                    {% set break = true %}
                                                        <select name="estado_cuota_{{ installment.id }}">
                                                            <option value="PAGADA">PAGADA</option>
                                                            <option value="PENDIENTE" selected>PENDIENTE</option>
                                                            <option value="MORA">MORA</option>
                                                        </select>
                                                {% else %}
                                                    <select name="estado_cuota_{{ installment.id }}" disabled>
                                                        <option value="{{ installment.status.value }}">{{ installment.status.value }}</option>
                                                    </select>
                                                {% endif %}
                                            {% else %}
                                                <select name="estado_cuota_{{ installment.id }}" disabled>
                                                    <option value="{{ installment.status.value }}">{{ installment.status.value }}</option>
                                                </select>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>                            
                        </table>
                        <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
