{% extends "base.html" %}

{% block content %}
<div class="c-form">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_manager', user_id=user_id) }}">Volver</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="/">Salir</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="c-morosos">
                    <p class="c-morosos__item">Número de morosos: <span id="totalMorosos">{{ debtors_info|length }}</span></p>
                    <p class="c-morosos__item">Total mora: $<span id="totalMora">{{ '{:,.0f}'.format(total_mora) }}</span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-4">
                <form method="GET" action="{{ url_for('routes.debtor_manager') }}" style="display: flex; flex-direction: column;">
                    <div class="form-group">
                        <input type="text" class="form-control" id="search" name="search" placeholder="Nombre del empleado o cliente">
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-4">
                <ul class="request-list" id="morosos-container">
                    {% for debtor_info in debtors_info %}
                        <li class="request-item">
                            <p>Nombre del vendedor: <span>{{ debtor_info.salesman_name }}</span></p>
                            <p>Nombre del cliente: <span>{{ debtor_info.client_name }}</span></p>
                            <p>Valor préstamo con intereses: <span>$ {{ '{:,.0f}'.format(debtor_info.total_loan_amount) }}</span></p>
                            <p>Saldo: <span>$ {{ '{:,.0f}'.format(debtor_info.balance) }}</span></p>
                            <p>Valor vencido: <span>$ {{ '{:,.0f}'.format(debtor_info.total_due) }}</span></p>
                            <p>Cantidad cuotas vencidas: <span>{{ debtor_info.overdue_installments }}</span></p>
                            <p>Cantidad cuotas totales: <span>{{ debtor_info.total_installments }}</span></p>
                            <p>Fecha de última cuota: <span>{{ debtor_info.last_installment_date }}</span></p>
                            <p>Fecha último pago registrado: <span>{{ debtor_info.last_payment_date }}</span></p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
