{% extends "base.html" %}

{% block content %}
<div class="c-form" data-debtors-info="{{ debtors_info | tojson | safe }}">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="./menu-manager">Volver al menú</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="/">Salir</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="c-morosos">
                    <p class="c-morosos__item">Número de morosos: <span id="totalMorosos">0</span></p>
                    <p class="c-morosos__item">Total mora: $<span id="totalMora">0</span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="c-cajas">
                    <!-- Aquí se agregarán dinámicamente los elementos -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
