{% extends "base.html" %}

{% block content %}
<div id="user-id" data-user-id="{{ session.get('user_id') }}"></div>
<div class="c-form">
    <div class="container pt-5">
        <!-- Botones de navegación -->
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_salesman') }}">Menu</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.client_list') }}">Clientes</a>
            </div>
        </div>

        <!-- Formulario principal -->
        <div class="row">
            <div class="col">
                <div class="c-form__container c-form--mobile">
                    <h2 class="c-form__title">Editar Cliente</h2>
                    
                    <form action="{{ url_for('routes.edit_client', client_id=client.id) }}" method="POST">
                        <fieldset>
                            <legend>Información Personal</legend>
                            
                            <div class="c-form__group">
                                <label for="first_name" class="c-form__label c-form__label--required">Nombre</label>
                                <input type="text" 
                                       class="c-form__input" 
                                       name="first_name" 
                                       id="first_name" 
                                       placeholder="Nombre" 
                                       value="{{ client.first_name }}"
                                       required>
                            </div>
                            
                            <div class="c-form__group">
                                <label for="last_name" class="c-form__label c-form__label--required">Apellido</label>
                                <input type="text" 
                                       class="c-form__input" 
                                       name="last_name" 
                                       id="last_name" 
                                       placeholder="Apellido" 
                                       value="{{ client.last_name }}"
                                       required>
                            </div>
                            
                            <div class="c-form__group">
                                <label for="alias" class="c-form__label">Alias</label>
                                <input type="text" 
                                       class="c-form__input" 
                                       name="alias" 
                                       id="alias" 
                                       placeholder="Alias" 
                                       value="{{ client.alias }}">
                            </div>
                            
                            <div class="c-form__group">
                                <label for="document" class="c-form__label c-form__label--required">DNI</label>
                                <input type="text" 
                                       class="c-form__input" 
                                       name="document" 
                                       id="document" 
                                       placeholder="Documento" 
                                       value="{{ client.document }}"
                                       required>
                            </div>
                            
                            <div class="c-form__group">
                                <label for="cellphone" class="c-form__label c-form__label--required">Teléfono</label>
                                <input type="tel" 
                                       class="c-form__input" 
                                       name="cellphone" 
                                       id="cellphone" 
                                       placeholder="Teléfono" 
                                       value="{{ client.cellphone }}"
                                       required>
                            </div>
                            
                            <div class="c-form__group">
                                <label for="address" class="c-form__label">Dirección</label>
                                <input type="text" 
                                       class="c-form__input" 
                                       name="address" 
                                       id="address" 
                                       placeholder="Dirección" 
                                       value="{{ client.address }}">
                            </div>
                            
                            <div class="c-form__group">
                                <label for="neighborhood" class="c-form__label">Barrio</label>
                                <input type="text" 
                                       class="c-form__input" 
                                       name="neighborhood" 
                                       id="neighborhood" 
                                       placeholder="Barrio" 
                                       value="{{ client.neighborhood }}">
                            </div>
                        </fieldset>

                        <div class="c-form__actions">
                            <button class="c-btn c-btn-primary" type="submit">Guardar Cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
