{% extends "base.html" %} {% block content %}
<div class="c-narrow">
  <div class="container pt-5">
    <div class="row">
      <div class="col">
        <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_manager', user_id=user_id) }}">Volver</a>
      </div>
      <div class="col">
        <a
          class="c-btn c-btn-primary c-btn-block mb-3"
          href="{{ url_for('routes.logout') }}"
          >Salir</a
        >
      </div>
    </div>


    <div class="row">
      <form action="{{ url_for('routes.history_box') }}" method="GET" class="">
        <div class="col-12 mt-2">
          <input class="c-form c-form__input" type="date" name="filter_date">
          <button type="submit" class="c-btn c-btn-summit">Buscar</button>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col">
        <div class="c-cajas__item">
          <div class="c-cajas__item__header mb-4">
            <h2 class="c-cajas__item__title c-headings c-headings__h4">
              Caja del Coordinador
            </h2>
            <h4 class="c-cajas__item__title c-headings c-headings__h2">
              {{ coordinator_name }}
            </h4>
          </div>
          <ul class="c-card__box-mannager">
            <li class="c-card__internal">
              Valor Caja: $ 
            </li>
            <li class="c-card__internal">
              Total Gastos: $ 
            </li>
            <li class="c-card__internal">
              Total de Ingresos: $ 
            </li>
            <li class="c-card__internal">
              Total de Retiros: $ 
            </li>
          </ul>
          <a type="button" class="c-btn c-btn-primary" data-toggle="modal" data-target="#exampleModal">
            Gestión Caja
          </a>
        </div>
      </div>
    </div>
    <!-- Logica para calculo de ocultar, abrir rutas -->

{% endblock %}