{% extends "base.html" %}

{% block content %}
<div class="c-form">
    <div class="container pt-5">
        <div class="row">
            {% if user_role == 'COORDINADOR' %}
                <div class="col">
                    <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_manager', user_id=user_id) }}">Volver</a>
                </div>
            {% elif user_role == 'VENDEDOR' %}
                <div class="col">
                    <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_salesman', user_id=user_id) }}">Volver</a>
                </div>
            {% endif %}
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="./logout">Salir</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="c-users">
                    <p class="c-users__title">Listado de Transacciones</p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <ul class="request-list c-overflow">
                    {% for detalle_transaccion in detalles_transacciones %}
                    <li class="request-item mb-4" style="border: 1px solid white; padding: 1.5rem; border-radius: 10px;">
                        <p>Tipo de transacción: <span>{{ detalle_transaccion['tipo'] }}</span></p>
                        <p>Concepto: <span>{{ detalle_transaccion['concepto'] }}</span></p>
                        <p>Descripción: <span>{{ detalle_transaccion['descripcion'] }}</span></p>
                        <p>Valor: <span>$ {{ '{:,.0f}'.format(detalle_transaccion['monto']) }}</span></p>
                        <!-- Agregar un identificador único al botón y la modal -->
                        <p>Estado: <span>{{ detalle_transaccion['status'] }}</span></p>
                        <button class="c-btn c-btn-primary" data-target="modal{{ loop.index }}">Ver comprobante</button>
                    </li>
                    {% endfor %}
                </ul>
                {% for detalle_transaccion in detalles_transacciones %}
                    <div class="c-modal" id="modal{{ loop.index }}">
                        <img class="img-attachment" src="{{ url_for('static', filename='images/' + detalle_transaccion['attachment']) }}" alt="Imagen de la transacción">
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

{% endblock %}
