{% extends "base.html" %}

{% block content %}
    <div class="c-form menu-salesman">
        <div class="container pt-5">
            <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h4>Hola, {{ salesman_name }}</h4>
                                <hr>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col" style="display: flex; flex-wrap: wrap">
                    <a href="{{ url_for('routes.box_detail', employee_id=employee_id) }}" class="c-btn c-btn-primary mb-3" type="submit">
                        Ver Detalle Caja
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <!-- Menú del vendedor -->
                    <nav class="c-menu d-flex flex-wrap justify-content-center justify-content-md-start align-items-center h-100">
                        <a href="{{ url_for('routes.create_client' , user_id=user_id) }}" class="c-btn c-btn-primary c-btn--menu mb-1"><i class="c-icon c-icon--white bi bi-lock-fill me-3"></i>Crear Prestamo</a>
                        <a href="{{ url_for('routes.renewal') }}" class="c-btn c-btn-primary c-btn--menu mb-1"><i class="c-icon c-icon--white bi bi-person-vcard me-3"></i> Renovaciones</a>
                        <a href="{{ url_for('routes.transactions') }}" class="c-btn c-btn-primary c-btn--menu mb-1"><i class="c-icon c-icon--white bi bi-lock me-3"></i> Transacciónes</a>
                        <a href="{{ url_for('routes.list_expenses') }}" class="c-btn c-btn-primary c-btn--menu mb-1"><i class="c-icon c-icon--white bi bi-cash me-3"></i> Estado Transacciónes</a>
                        <a href="{{ url_for('routes.payments_list', user_id=user_id) }}" class="c-btn c-btn-primary c-btn--menu mb-1"><i class="c-icon c-icon--white bi bi-clipboard-data me-3"></i> Cobros del día</a>
                        <a class="c-btn c-btn-primary c-btn--menu c-btn-block mb-3 mt-4" href="{{ url_for('routes.logout') }}">Salir</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Código JavaScript para formatear el valor en MORA -->
    <script>
        
            // Función para formatear la moneda
            function formatCurrency(value) {
                return '$ ' + value.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            }

            // Verificar y formatear el valor de total_arrears_value
            var delinquentArrearsValue = {{ total_arrears_value }};
            var formattedArrearsValue = formatCurrency(delinquentArrearsValue);
            var arrearsElement = document.getElementById('formattedArrearsValue');
            if (arrearsElement) {
                arrearsElement.textContent = formattedArrearsValue;
            }

            var delinquentTodayValue = {{ today_revenue }};
            var formattedTodayRevenueValue = formatCurrency(delinquentTodayValue);
            var todayRevenueElement = document.getElementById('formattedTodayRevenueValue');
            if (todayRevenueElement) {
                todayRevenueElement.textContent = formattedTodayRevenueValue;
            }

    </script>
{% endblock %}
