{% extends "base.html" %}

{% block content %}
    <div class="c-form">
        <div class="container pt-5">
            <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h4>Hola, {{ salesman_name }}</h4>
                                <hr>
                                
                                <!-- Información de bienvenida -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-2 text-center">
                                <i class="bi bi-person-check-fill d-inline-block" title="Clientes ACTIVOS"></i>
                                <p class="d-inline-block px-3" title="Clientes ACTIVOS">{{ total_credits }}</p>
                            </div>
                            <div class="col-md-6 mt-2 text-center">
                                <i class="bi bi-person-fill-exclamation d-inline-block" title="Clientes en mora"></i>
                                <p class="d-inline-block px-3" title="Clientes en mora">{{ delinquent_clients }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-2 text-center">
                                <i class="bi bi-cash d-inline-block"></i>
                                <p class="d-inline-block px-3">$ {{ '{:,.0f}'.format( today_revenue | float | int) }}
                                </p>
                            </div>
                            <div class="col-md-6 mt-2 text-center">
                                <i class="bi bi-cash-coin d-inline-block"></i>
                                <p class="d-inline-block px-3">$ {{ '{:,.0f}'.format( total_arrears_value | float | int) }}
                            </div> 
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col" style="display: flex; flex-wrap: wrap">
                    <a href="{{ url_for('routes.box_detail', employee_id=employee_id) }}" class="c-btn c-btn-primary mb-3" type="submit">
                        Ver Detalle Caja
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <!-- Menú del vendedor -->
                    <nav class="c-menu d-flex flex-wrap justify-content-center justify-content-md-start align-items-center h-100">
                        <a href="{{ url_for('routes.create_client' , user_id=user_id) }}" class="c-btn c-btn-primary mb-1"><i class="c-icon c-icon--white bi bi-lock-fill me-3"></i>Crear Prestamo</a>
                        <a href="{{ url_for('routes.renewal') }}" class="c-btn c-btn-primary mb-1"><i class="c-icon c-icon--white bi bi-person-vcard me-3"></i> Renovaciones</a>
                        <a href="{{ url_for('routes.transactions') }}" class="c-btn c-btn-primary mb-1"><i class="c-icon c-icon--white bi bi-lock me-3"></i> Transacciónes</a>
                        <a href="{{ url_for('routes.list_expenses') }}" class="c-btn c-btn-primary mb-1"><i class="c-icon c-icon--white bi bi-cash me-3"></i> Estado Transacciónes</a>
                        <a href="{{ url_for('routes.payments_list', user_id=user_id) }}" class="c-btn c-btn-primary mb-1"><i class="c-icon c-icon--white bi bi-clipboard-data me-3"></i> Cobros del día</a>
                        <a class="c-btn c-btn-primary c-btn-block mb-3 mt-4" href="{{ url_for('routes.logout') }}">Salir</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Código JavaScript para formatear el valor en MORA -->
    <script>
        var delinquentArrearsValue = {{ total_arrears_value }};
        var formattedArrearsValue = formatCurrency(delinquentArrearsValue);
        document.getElementById('formattedArrearsValue').textContent = formattedArrearsValue;
    
        var delinquentTodayValue = {{ today_revenue }};
        var formattedTodayRevenueValue = formatCurrency(delinquentTodayValue);
        document.getElementById('formattedTodayRevenueValue').textContent = formattedTodayRevenueValue;
    
        function formatCurrency(value) {
            var formattedValue = '$ ' + value.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            return formattedValue;
        }
    </script>
{% endblock %}
