{% extends "base.html" %}

{% block content %}
<div class="c-form">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_salesman') }}">Volver al menú</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.logout') }}">Salir</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="c-users">
                    <p class="c-users__title">Créditos del Día</p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <form method="post" action="#">
                    <ul class="list-group">
                        <!-- Ejemplo de Crédito 1 -->
                        <li class="list-group-item mb-4" style="background-color: #111; border: 1px solid white; padding: 1.5rem; border-radius: 10px; color: white;">
                            <h5 class="mb-1">Cliente: Camilo Cardona</h5>
                            <p class="mb-1">Cuotas pagadas: 3</p>
                            <p class="mb-1">Cuotas vencidas: 7</p>
                            <p class="mb-1">Monto deuda: $10000</p>
                            <p class="mb-1">Monto mora: $3500</p>
                            <p class="mb-1">Ultimo pago: 12/09/23</p>
                            <select class="form-control" name="estado_cuota_1">
                                <option value="mora">Mora</option>
                                <option value="abono">Abono</option>
                                <option value="pagado">Pagado</option>
                            </select>
                        </li>

                        <!-- Ejemplo de Crédito 2 -->
                        <li class="list-group-item mb-4" style="background-color: #111; border: 1px solid white; padding: 1.5rem; border-radius: 10px; color: white;">
                            <h5 class="mb-1">Cliente: Pedro Perez</h5>
                            <p class="mb-1">Cuotas pagadas: 3</p>
                            <p class="mb-1">Cuotas vencidas: 7</p>
                            <p class="mb-1">Monto deuda: $10000</p>
                            <p class="mb-1">Monto mora: $3500</p>
                            <p class="mb-1">Ultimo pago: 12/09/23</p>
                            <select class="form-control" name="estado_cuota_2">
                                <option value="mora">Mora</option>
                                <option value="abono">Abono</option>
                                <option value="pagado">Pagado</option>
                            </select>
                        </li>

                        <!-- Ejemplo de Crédito 3 -->
                        <li class="list-group-item mb-4" style="background-color: #111; border: 1px solid white; padding: 1.5rem; border-radius: 10px; color: white;">
                            <h5 class="mb-1">Cliente: Annita Gonzalez</h5>
                            <p class="mb-1">Cuotas pagadas: 3</p>
                            <p class="mb-1">Cuotas vencidas: 7</p>
                            <p class="mb-1">Monto deuda: $10000</p>
                            <p class="mb-1">Monto mora: $3500</p>
                            <p class="mb-1">Ultimo pago: 12/09/23</p>
                            <select class="form-control" name="estado_cuota_2">
                                <option value="mora">Mora</option>
                                <option value="abono">Abono</option>
                                <option value="pagado">Pagado</option>
                            </select>
                        </li>
                    </ul>
                    <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
