{% extends "base.html" %}

{% block content %}
<div class="c-form">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_salesman') }}">Menu</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.logout') }}">Salir</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="c-users">
                    <p class="c-users__title">Créditos del Día</p>
                </div>
            </div>
        </div>
        <form method="GET" action="{{ url_for('routes.payments_list') }}" class="mb-4">
            
                <input type="text" name="search" class="form-control" placeholder="Buscar por cliente">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary" style="display: flex; width: 100%; justify-content: center;">Buscar</button>
                </div>
  
        </form>
        <div class="row mt-4">
            <div class="col">
                <ul class="list-group c-overflow" style="padding: 1rem;">
                    {% for client_info in clients %}
                    <li class="list-group-item mb-4" style="background-color: #111; border: 1px solid white; padding: 1.5rem; border-radius: 10px; color: white; display: flex; justify-content: center; flex-direction: column; align-items: center;">
                        <h5 class="mb-1">Cliente: {{ client_info['First Name'] }} {{ client_info['Last Name'] }}</h5>
                        <p class="mb-1">Cuotas pagadas: {{ client_info['Paid Installments'] }}</p>
                        <p class="mb-1">Cuotas vencidas: {{ client_info['Overdue Installments'] }}</p>
                        <p class="mb-1">Monto deuda: ${{ client_info['Total Outstanding Amount'] }}</p>
                        <p class="mb-1">Monto mora: ${{ client_info['Total Overdue Amount'] }}</p>
                        <p class="mb-1">Ultimo pago: {{ client_info['Last Payment Date'] }}</p>
                        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 1.5rem 0;">
                            <a href="{{ url_for('routes.credit_detail', id=client_info['Loan ID']) }}" class="btn btn-primary mb-4" type="submit">Ver detalle</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}