{% extends "base.html" %}

{% block content %}
<div class="c-form">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_salesman', user_id=user_id) }}">Volver</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="/">Salir</a>
            </div>
        </div>
        <div class="col">
            <div class="c-users">
                <p class="c-users__title">Renovaciones</p>
            </div>
        </div>
        <div class="c-form">
            <div class="container pt-5">
                <!-- ... -->
                <form method="POST">
                    <div class="form-group">
                        <label for="usuarios">Usuarios:</label>
                        <select class="c-form c-form__input" name="document_number" title="Document Number">
                            <option value>Seleccionar usuario</option>
                            {% for client in clients %}
                                <option value="{{ client[0] }}">{{ client[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cuotas">Número de Cuotas:</label>
                        <select class="c-form c-form__input" name="dues" id="dues" title="Select number of dues">
                            <option value>Seleccionar número de cuotas</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="interes">Interés del Préstamo:</label>
                        <select class="c-form c-form__input" name="interest" id="interest" title="Select interest">
                            <option value>Seleccionar interés del préstamo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="valor">Valor del Préstamo:</label>
                        <input type="text" class="c-form c-form__input" name="amount" id="amount" placeholder="Ingrese el valor del préstamo">
                    </div>
                    <button type="submit" class="c-btn c-btn-primary mt-4">Crear Préstamo</button>
                </form>
            </div>
        </div>   
    </div>
</div>
{% endblock %}
