{% extends "base.html" %}

{% block content %}
    <div class="container c-bg c-bg__gray-400 pt-5">
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3"
                    href="./menu-manager">Menu</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="/">Salir</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h2>Reportes</h2>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">

                <iframe title="Report Section" width="100%" height="636" src="https://app.powerbi.com/view?r=eyJrIjoiZWZhZGUxMjUtNTc3Yi00Yjc5LTg4NDAtYmE0M2FiN2VkMGIzIiwidCI6IjE2NDI3ZmRlLWVmYTctNGY3YS05OWRjLTUxZDY1ZmI2NDBmMiIsImMiOjF9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
                <!-- <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <span class="bi bi-file-earmark-text"></span>
                                <span class="bi bi-file-earmark-bar-graph"></span>
                                <span class="bi bi-file-earmark-richtext"></span>
                            </div>
                            <div class="col-6">
                                <span class="bi bi-person-fill"></span> Usuario 1 (Coordinador)
                            </div>
                            
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <span class="bi bi-file-earmark-text"></span>
                                <span class="bi bi-file-earmark-bar-graph"></span>
                                <span class="bi bi-file-earmark-richtext"></span>
                            </div>
                            <div class="col-6">
                                <span class="bi bi-person-badge"></span> Usuario 2 (Vendedor)
                            </div>
                            
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <span class="bi bi-file-earmark-text"></span>
                                <span class="bi bi-file-earmark-bar-graph"></span>
                                <span class="bi bi-file-earmark-richtext"></span>
                            </div>
                            <div class="col-6">
                                <span class="bi bi-person-fill"></span> Usuario 3 (Coordinador)
                            </div>
                            
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-6">
                                <span class="bi bi-file-earmark-text"></span>
                                <span class="bi bi-file-earmark-bar-graph"></span>
                                <span class="bi bi-file-earmark-richtext"></span>
                            </div>
                            <div class="col-6">
                                <span class="bi bi-person-badge"></span> Usuario 4 (Vendedor)
                            </div>
                            
                        </div>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
{% endblock %}
