{% extends "base.html" %}

{% block content %}
<div class="container c-bg c-bg__gray-400 pt-5">
    <div class="row">
        <div class="col">
            <a class="c-btn c-btn-primary c-btn-block mb-3" href="./menu-salesman">Volver al menu</a>
        </div>
        <div class="col">
            <a class="c-btn c-btn-primary c-btn-block mb-3" href="/">Salir</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="c-users">
                <p class="c-users__title">Registro de Gastos</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="">
                <fieldset>
                    <legend>Tipo de gasto</legend>
                    <div class="mb-3">
                        <select name="perfil" class="c-form c-form__dropdown" aria-label="Default select example">
                            <option selected></option>
                            <option value="GASTO">Gasto</option>
                            <option value="INGRESO">Ingreso</option>
                            <option value="RETIRO">Retiro</option>
                        </selec
                    </div>
                    <legend>Concepto</legend>
                    <div class="mb-3">
                        <select name="perfil" class="c-form c-form__dropdown" aria-label="Default select example">
                            <option selected></option>
                            <option value="1" name="concept">Concepto 1</option>
                            <option value="2" name="concept">Concepto 2</option>
                            <option value="3" name="concept">Concepto 3</option>
                        </selec
                    </div>
                </fieldset>             
                <fieldset>
                    <legend>Concepto</legend>
                    <div class="mb-3">
                        <label for="phone" class="form-label">description</label>
                        <textarea class="c-form c-form__textarea" name="concept" id="" cols="30" rows="10"></textarea>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Valor</legend>
                    <div class="mb-3">
                        <label for="loan" class="form-label">Valor</label>
                        <input type="text" class="c-form c-form__input" id="quantity" name="quantity" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="photo" class="form-label">Subir foto:</label>
                        <input type="file" class="form-control" id="photo" accept="image/*" capture="user" name="photo">
                    </div>
                </fieldset>
                <button class="c-btn c-btn-primary mb-4" type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
