<!-- plantilla.html -->
{% extends "base.html" %}

{% block content %}
<div class="c-form">
    <div class="container pt-5">
        <div class="row">
            {% if user_role == 'COORDINADOR' %}
                <div class="col">
                    <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_manager', user_id=user_id) }}">Menu</a>
                </div>
            {% elif user_role == 'VENDEDOR' %}
                <div class="col">
                    <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_salesman', user_id=user_id) }}">Menu</a>
                </div>
            {% endif %}
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="./logout">Salir</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="c-users">
                    <p class="c-users__title">Registro de Transacciones</p>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div id="select-container" class="col">
                <form action="{{ url_for('routes.transactions') }}" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <legend style="color: #272727;">Tipo</legend>
                        <div class="mb-3">
                            <select id="transactionType" name="transaction_type" class="c-form c-form__dropdown" aria-label="Default select example">
                                <option value="">Seleccione tipo de transacción</option>
                                <option value="GASTO">Gasto</option>
                                <option value="INGRESO">Ingreso</option>
                                <option value="RETIRO">Retiro</option>
                            </select>
                        </div>
                        <legend style="color: #272727;">Concepto</legend>
                        <div class="mb-3">
                            <select id="concept" name="concept_id" class="c-form c-form__dropdown" aria-label="Default select example">
                                <option value="">Seleccione un concepto</option>
                                {% for concept in concepts %}
                                    <option value="{{ concept.id }}" data-transaction-type="{{ concept.transaction_types.value }}">{{ concept.name }}</option>
                                {% endfor %}
                            </select>                         
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="mb-3">
                            <legend for="description" style="color: #272727;" class="form-label">Descripción</legend>
                            <textarea class="c-form" style="width: 100%;" name="description" id="description" cols="30" rows="10"></textarea>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="mb-3">
                            <legend style="color:#272727;">Valor</legend>
                            <input type="text" class="c-form c-form__input" id="quantity" name="quantity" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="photo" style="color:#272727;" class="form-label">Subir foto:</label>
                            <input type="file" class="form-control" id="photo" accept="image/*" capture="user" name="photo">
                        </div>
                        <button class="c-btn c-btn-primary mb-4" disabled type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    // Obtener el tipo de transacción pasado desde el backend
    var transactionType = "{{ transaction_type }}";
    // Filtrar las opciones del segundo select basado en el tipo de transacción inicial
    filterConceptOptions(transactionType);

    document.getElementById('transactionType').addEventListener('change', function() {
        var transactionType = this.value;
        // Llamar a la función de filtrado cuando cambia el tipo de transacción
        filterConceptOptions(transactionType);
    });

    document.getElementById('photo').addEventListener('change', function(event) {
        var file = event.target.files[0];
        if (file) {
            compressAndConvertImage(file, function(compressedFile) {
                // Aquí puedes manejar el archivo comprimido y convertirlo a JPG
                var dataTransfer = new DataTransfer();
                dataTransfer.items.add(compressedFile);
                document.getElementById('photo').files = dataTransfer.files;
                checkImageFilled();
            });
        }
    });

    function compressAndConvertImage(file, callback) {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function(event) {
            const img = new Image();
            img.src = event.target.result;
            img.onload = function() {
                const canvas = document.createElement('canvas');
                const ctx = canvas.getContext('2d');

                const maxWidth = img.width;
                const maxHeight = img.height;
                let width = img.width;
                let height = img.height;

                // Redimensionar si la imagen es demasiado grande
                if (width > height) {
                    if (width > maxWidth) {
                        height *= maxWidth / width;
                        width = maxWidth;
                    }
                } else {
                    if (height > maxHeight) {
                        width *= maxHeight / height;
                        height = maxHeight;
                    }
                }
                canvas.width = width;
                canvas.height = height;
                ctx.drawImage(img, 0, 0, width, height);

                canvas.toBlob(function(blob) {
                    if (blob.size > 600 * 1024) { // Si la imagen sigue siendo grande, reducir la calidad
                        canvas.toBlob(function(compressedBlob) {
                            const compressedFile = new File([compressedBlob], file.name.replace(/\.[^/.]+$/, ".jpg"), {
                                type: 'image/jpeg',
                                lastModified: Date.now()
                            });
                            callback(compressedFile);
                        }, 'image/jpeg', 0.3);
                    } else {
                        const compressedFile = new File([blob], file.name.replace(/\.[^/.]+$/, ".jpg"), {
                            type: 'image/jpeg',
                            lastModified: Date.now()
                        });
                        callback(compressedFile);
                    }
                }, 'image/jpeg', 0.3); // calidad inicial
            }
        }
    }

    function checkImageFilled() {
        var photoInput = document.getElementById('photo');
        var submitButton = document.querySelector('button[type="submit"]');

        if (photoInput.files.length > 0) {
            submitButton.removeAttribute('disabled');
        } else {
            submitButton.setAttribute('disabled', 'disabled');
        }
    }

    function filterConceptOptions(transactionType) {
        console.log("Transaction Type:", transactionType);
        var conceptOptions = document.querySelectorAll('#concept option');
        conceptOptions.forEach(function(option) {
            var dataTransactionType = option.getAttribute('data-transaction-type');
            console.log("Data Transaction Type:", dataTransactionType);
            if (transactionType === '' || dataTransactionType === transactionType) {
                option.style.display = '';
            } else {
                option.style.display = 'none';
            }
        });
    }
</script>

{% endblock %}
