{% extends "base.html" %}

{% block content %}
<div class="c-form">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_manager') }}">Menu</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.logout') }}">Salir</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.create_user') }}">Crear usuario</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="request-list">
                    {% for user in users %}
                    <div class="request-item">
                        <span class="list-item-title">Nombre:</span> {{ user.first_name }} {{ user.last_name }}<br>
                        <span class="list-item-title">Rol:</span> {{ user.role.value }}<br>
                        <span class="list-item-title">Información Adicional:</span><br>
                        {% for employee in employees %}
                            {% if employee.user_id == user.id %}
                                - Dinero Máximo de Caja: $ {{ "{:.2f}".format(employee.maximum_cash) }}<br>
                                - Dinero Máximo de Venta: {{ employee.maximum_sale }}<br>
                                - Dinero Máximo de Gasto: {{ employee.maximum_expense }}<br>
                                - Máximo de Cuotas: {{ employee.maximum_installments }}<br>
                                - Mínimo Interés: {{ employee.minimum_interest }}%<br>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
