{% extends "base.html" %}

{% block content %}
<div class="c-form">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_manager') }}">Volver al menú</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="/">Salir</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h2 class="c-cajas__item__title c-headings c-headings__h2">Créditos Activos</h2>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <div class="c-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5>Total Créditos:</h5>
                                <p>{{ wallet_detail_data['Total Loans'] }}</p>
                            </div>
                            <div class="col">
                                <h5>Valor Total de Créditos:</h5>
                                <p>${{ wallet_detail_data['Total Overdue Amount'] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for loan_info in wallet_detail_data['Loans Detail'] %}
        <div class="row mt-4">
            <div class="col">
                <div class="c-card">
                    <div class="card-header">
                        <h4>Crédito #{{ loop.index }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="c-card__box-mannager">
                            <div class="c-card__internal">
                                <p>{{ loan_info['Seller First Name'] }} {{ loan_info['Seller Last Name'] }}</p>
                                <p>Cliente: {{ loan_info['Client First Name'] }} {{ loan_info['Client Last Name'] }}</p>
                            </div>
                            <div class="c-card__internal">
                                <p>Saldo Inicial: $ {{ '{:,.0f}'.format(loan_info['Loan Amount']  | float | int) }}</p>
                                <p>Saldo Vencido: $ {{ '{:,.0f}'.format(loan_info['Total Overdue Amount'] | float | int) }}</p>
                            </div>
                            <div class="c-card__internal">
                                <h5>Cuotas</h5>
                                <p>Cuotas Vencidas: {{ loan_info['Overdue Installments Count'] }}</p>
                                <p>Total Cuotas Pagas: {{ loan_info['Paid Installments Count'] }}/{{ loan_info['Total Installments'] }}</p>
                            </div>
                            <div class="c-card__internal">
                                <!-- Agrega las fechas relevantes aquí -->
                                <!-- <a href="{{ url_for('routes.credit_detail', id=loan_info['Loan ID']) }}" class="btn btn-primary">Ver Detalle</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
