{% extends "base.html" %}

{% block content %}
<div class="c-form">
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.menu_manager') }}">Menu</a>
            </div>
            <div class="col">
                <a class="c-btn c-btn-primary c-btn-block mb-3" href="/">Salir</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h2 class="c-cajas__item__title c-headings c-headings__h2">Total Créditos</h2>
                <h4 class="c-cajas__item__title c-headings c-headings__h4">Valor Total cajas: $5000</h4>
                <h4 class="c-cajas__item__title c-headings c-headings__h4"># Total cajas: 2</h4>
            </div>
        </div>

        {% for seller_info in wallet_data['Sellers Detail'] %}
        <div class="row mt-4">
            <div class="col">
                <div class="c-card">
                    <div class="card-header">
                        <h4>Vendedor: {{ seller_info['First Name'] }} {{ seller_info['Last Name'] }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h5>Debió Cobrar</h5>
                                <p># de Créditos: {{ seller_info['Number of Active Loans'] }}</p>
                                <p>Valor de los Créditos: ${{ seller_info['Total Amount of Pending Installments'] }}</p>
                                <p>% Recaudado: {{ seller_info['Percentage of Day Collection'] }}</p>
                            </div>
                            <div class="col-6">
                                <h5>Cartera</h5>
                                <p>Valor Créditos Vencidos: ${{ seller_info['Total Amount of Overdue Loans'] }}</p>
                                <!-- Agrega otros campos de la cartera si es necesario -->
                            </div>
                            <div class="col">
                                <a href="/wallet_detail/{{ seller_info['Employee ID'] }}" class="btn btn-primary">Ir al Detalle</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
